.ob-promptBox {
  margin-top: 10vh;
  margin-bottom: auto;
  @apply p-6 gap-4 flex flex-col bg-white rounded shadow-xl;
  border: 1px solid #eee;
}

.ob-promptBox-input {
  width: 60vw;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 2em;

  &:focus {
    outline: none;
    border-color: #aaa;
  }
}