// sidebars

.ob-sidebar {
  flex: 0 0 0;
  min-width: 0;
  position: relative;
  background-color: #f5f5f5;
  border-right: 1px solid #999;
  outline: 0;

  display: flex;
  flex-direction: column;
}

.ob-sidebar-resizer {
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-color: #0004;
  cursor: col-resize;
  opacity: 0;

  &:hover,
  .ob-sidebar.isResizing & {
    opacity: 1;
  }
}

.ob-sidebar-files {
  flex: 1 0 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.ob-sidebar-item {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  border-bottom: 1px solid #999;
  cursor: pointer;

  &.isActive {
    background-color: #e5e5e5;
    font-weight: 500;

    .ob-sidebar:focus & {
      background-color: #e5e5ff;
    }
  }

  &:not(.isOpened) {
    font-style: italic;
    opacity: 0.7;
  }
}

.ob-sidebar-item-name {
  flex: 1 0 0;
  min-width: 0;
  margin: 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ob-sidebar-item-actions {
  flex: 0 0 auto;
  display: flex;
  gap: 4px;
  visibility: hidden;
  overflow: hidden;
  max-width: 0;

  .ob-sidebar-item:hover & {
    visibility: visible;
    max-width: 50%;
  }
}

.ob-sidebar-item-action {
  padding: 4px;
  color: #666;
  background: transparent;
  border: 0;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.ob-sidebar-footer {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  gap: 12px;
  border-top: 1px solid #999;
  background-color: #eee;
}
