#ob-statusBar {
  border-top: 1px solid #999;
  background-color: #777;
  color: #f5f5f5;
  display: flex;
  padding: 4px;
  gap: 4px;

  kbd {
    display: inline-block;
    font-size: 0.86em;
    margin: 0 2px;
    background: #555;
    border-radius: 2px;
    padding: 1px 4px;
    vertical-align: middle;
    margin-right: 4px;
  }
}

.ob-status-actionHint {
  margin-right: 8px;
}
