.ob-toolbar {
  @apply flex py-2 outline-none px-2;

  button {
    border: 1px solid transparent;
    outline: 0;
    background: transparent;
    @apply px-4 py-2 rounded;

    &.isActive {
      @apply bg-gray-2;
    }

    &:not(:disabled) {
      &:hover {
        @apply bg-gray-1;
      }

      &:focus,
      &:active {
        @apply bg-gray-2;
      }
    }
  }

  &[tabindex]:focus-within {
    @apply bg-gray-1;

    button:not(:disabled):hover {
      @apply border-gray-3 shadow;
    }
  }
}
